# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Compiled binaries and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
server

# Test binary, built with `go test -c`
*.test

# Coverage directory and output of the go coverage tool
coverage
*.out
coverage.html

# Go workspace file
go.work
go.work.sum

# Dependency directory
vendor

# Users Environment Variables
example/lib/db
